/* denne side er forbeholdt layout, altså hvordan elementerne er placeret på siden,
og hvordan de interagerer med hinanden. */
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 3rem;
}

.categoryTitle {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.hero {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 123 */
}
