/* Denne side er til  css specifikt til productlist-siden*/
.card {
  padding: 60px;
  padding-top: 0px;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#heroImage {
  width: 100%;
}

.card img {
  border: var(--header-border);
  width: 100%;
}

.price,
.product-info {
  width: 100%;
}

.card p:first-of-type {
  font-size: var(--h2-size);
  margin: 10px 0 5px 0;
}

.showMore {
  transition: 0.2s;
}

.showMore:hover {
  font-size: 102%;
  opacity: 0.8;
}

.green-pastel {
  transition: 0.4s;
  &:hover {
    background-color: var(--green-pastel);
  }
}

.yellow-pastel {
  transition: 0.4s;
  &:hover {
    background-color: var(--yellow-pastel);
  }
}

.purple-pastel {
  transition: 0.4s;
  &:hover {
    background-color: var(--purple-pastel);
  }
}
.subcategoryLinks {
  display: flex;
  gap: 32px;
  padding: 20px 40px;
}

.subcategoryLinks a {
  font-size: var(--p-size);
  font-family: var(--p-font);
  color: var(--p-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.subcategoryLinks a:hover {
  border-bottom: 1px solid #000;
}
