/* Denne side indeholder variabler.Det vil sige,
at gennemgående æstetiske valg (farve, border-radius, etc) findes herinde,
og kan universelt ændres */

@font-face {
  font-family: "interSemibold";
  src: url("../fonts/Inter_18pt-SemiBold.woff");
}

:root {
  /* farver */
  --prime-color: rgb(257, 257, 257);
  --second-color: rgb(257, 257, 257);
  --third-color: rgb(257, 257, 257);
  /* var står her for variation, 
  så vi kan have nuance forskelle på vores farverne,
  f.eks til en mørkere baggrund */
  --prime-color-var: rgb(257, 257, 257);
  --second-color-var: rgb(257, 257, 257);
  --third-color-var: rgb(257, 257, 257);

  /* borders */
  --general-border: ;
  --nav-border: ;
  --cards-border: ;

  /* border radius */
  --general-margin: ;
  --cards-corner: 1px;

  /* tekststørrelse*/
  --h1-size: 40px;
  --h2-size: 40px;
  --h3-size: 60px;
  --h4-size: 20px;
  --p-size: 16px;

  /* Tekstfarve */
  --h1-color: #000;
  --h2-color: #000;
  --h3-color: #000;
  --h4-color: #000;
  --p-color: #000;

  /* fonts */
  --h1-font: "interSemibold";
  --h2-font: "interSemibold";
  --h3-font: "interSemibold";
  --h4-font: "interSemibold";
  --p-font: "interSemibold";
}
